# Project Noise
.refresh_env
.backend_up
# Python Stuff
**.pyc
*/__pycache__/**
# Editor Stuff
**.swo
**.swp
*.mypy_cache*
# Notebooks
notebook/**
# Documentation Stuff
docs/_build/**
**sphinx-pyreverse**

